.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    padding: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.message {
    color: #a3a3a3;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
}

.inputs {
    margin-top: 10px;
}

.inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
}

.inputs input:focus {
    border-bottom: 1.5px solid #4169E1;
    outline: none;
}

.action {
    text-decoration: none;
    margin-top: 24px;
    padding: 11px 13px;
    border-radius: 8px;
    border: none;
    background-color: #4169E1;
    color: white;
    cursor: pointer;
    align-self: end;
    transition: 0.7s ease;
}
.action:hover{ 
    transform: scale(1.1);
}